
body {
    background-color: #ffffff;
}


div.TagBack {
    width: 100%;
    height: auto;
}

.InfoGraphic {
  max-width: 100%;
  height: auto;
}


div.Header {
    height: 5em;
    width: 100%;
    background-color: #ff8200;
}

div.Page {
    margin-left: auto;
    margin-right: auto;
    color: black;
    max-width: 900px;
    font-family: 'Bree Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

span.LogoText {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-left: 1em;
}


h4 {
    font-family: 'Noto Sans', 'Arial Narrow', Arial, sans-serif;
    color: indigo;
    font-size: 1em;
}


h3 {
    font-family: 'Noto Sans', 'Arial Narrow', Arial, sans-serif;
    color: indigo;
    font-size: 2em;
}


h2 {
    font-family: 'Noto Sans', 'Arial Narrow', Arial, sans-serif;
    color: indigo;
    font-size: 3em;
}


h1 {
    font-family: 'Noto Sans', 'Arial Narrow', Arial, sans-serif;
    color: indigo;
    text-align: center;
    font-size: 4em;
}


div.FlexContainer {
    display: flex;
}


div.ScreenshotLineup {
    padding: 4em;
}


@keyframes TaglineAnimation {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
  
div.Tagline {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: TaglineAnimation;
    animation-duration: 1s;
    top: 6vw;
    left: 2vw;
    display: block;
    position: absolute;
    text-align: center;
    font-size: 4vw;
    color: #ffffff;
    background-color:rgba(0,0,0,0.3);
}

